@keyframes intro
{
    from
    {
        opacity: 0;
        top: 0;
    }
    to
    {
        opacity: 1;
        top: 50%;
    }
}

.v-welcome
{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
    
    &-content
    {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        transform:  translateY(-50%);
        animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        h1
        {
            font-size: 78px;
            letter-spacing: 2px;
        }
    }
}
