<article class="main-header">
    <section class="title" >
        <div class="icon"></div>
        <p>{{ title }}</p>
    </section>
    <!-- <section class="menus">
        <router-link v-for="m in modules" :key="m.name" :to="m" @click.native="onRoute">
            {{m.title}}
        </router-link>
    </section> -->
    <section class="user-info">
        <i-dropdown>
            <i-icon type="ios-contact" />
            <!-- <i-dropdown-menu slot="list">
                <i-dropdown-item name="logout">注销</i-dropdown-item>
            </i-dropdown-menu> -->
        </i-dropdown>
        <p>{{name}}</p>
    </section>
</article>
